- items = adventure.items_in_current_room
- if items.any?
  %p.items
    You can see
    = (items.map { |item| link_to(item_with_indefinite_article(item), take_item_path(item)) }.join(', ') + '.').html_safe
