%h1 Hall of fame

= render :partial => 'shared/flash_messages'

%table.top-scores
  - @scores.each do |score|
    %tr
      %td.name= score.name
      %td.score= score.score

%p= link_to('Main menu', choice_path)
