@import url(/stylesheets/direction-arrows.css);

* {
  font-family: 'Droid Sans Mono', arial, serif;
}

#wrapper {
  width: 640px;
  margin: 20px auto;
  text-align: left;
  border: 1px solid #aaa;
  padding: 10px;
}

#flash-messages {
  min-height: 30px;
}

#splash-screen .center {
  text-align: center;
}

#splash-screen img {
  margin: 1em 0;
  border: 2px solid #fff;
}

#content {
  min-height: 250px;
  margin: 0px 80px;
  padding-top: 40px;
}

#controls {
  margin-top: 15px;
  height: 100px;
  border-top: 1px solid #aaa;
}

#controls p {
  margin: 10px;
}

.description {
  font-size: 1.3em;
  margin: 1.5em 0;
}

ul.choice {
  list-style-type: square;
  margin-bottom: 2em;
}

ul.choice li {
  margin: 1em 0;
}

.warning {
  background-color: #0ff;
  color: #000;
  font-size: 0.7em;
  text-align: center;
  padding: 5px;
}
