* {
  font-family: 'Droid Sans Mono', arial, serif;
}

body {
  background-color: #000;
  color: #fff;
}

#wrapper {
  width: 640px;
  margin: 20px auto;
  text-align: left;
  border: 1px solid #aaa;
  padding: 10px;
}

#flash-messages {
  min-height: 30px;
}

#splash-screen .center {
  text-align: center;
}

#splash-screen img {
  margin-top: 1em;
  border: 2px solid #fff;
}

h1 {
  color: #00f;
}

.description {
  font-size: 1.3em;
  margin: 1.5em 0;
}

.description .green {
  color: #0f0;
}

.description .cyan {
  color: #0ff;
}

.description .blue {
  color: #00f;
}

.description .yellow {
  color: #ff0;
}

.description .red {
  color: #f00;
}

a {
  color: #ccc;
}

.error {
  color: #f00;
}

.success {
  color: #0f0;
}

.notice {
  color: #ff0;
}

.items, .items a {
  color: #f00;
}

ul.inventory {
  color: #ff0;
  padding: 0;
  list-style-type: none;
  width: 450px;
  height: 80px;
  border-right: 1px solid #aaa;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}

ul.inventory li {
  display: inline;
  width: 90px;
  float: left;
}

.go-north, .go-south {
  text-align: center;
  height: 32px;
}

.go-south {
  margin-top: 40px;
}

.go-west {
  float: left;
}

.go-east {
  float: right;
}

.go-west img, .go-east img {
  margin-top: 130px;
}

#content {
  min-height: 250px;
  margin: 0px 80px;
  padding-top: 40px;
}

#controls {
  margin-top: 15px;
  height: 100px;
  border-top: 1px solid #aaa;
}
