* {
  font-family: 'Droid Sans Mono', arial, serif;
}

body {
  background-color: #000;
  color: #fff;
}

#splash-screen .center {
  text-align: center;
}

#splash-screen img {
  margin-top: 1em;
  border: 2px solid #fff;
}

h1 {
  color: #00f;
}

.description {
  font-size: 1.3em;
}

a {
  color: #ccc;
}

.error {
  color: #f00;
}

.success {
  color: #0f0;
}

.notice {
  color: #ff0;
}

.items {
  color: #f00;
}

.inventory {
  color: #ff0;
}

.go-north, .go-south {
  text-align: center;
}

.go-north {
  margin-top: 20px;
}

.go-south {
  margin-top: 40px;
}

.go-west {
  float: left;
  margin-left: 20px;
}

.go-east {
  float: right;
  margin-right: 20px;
}

.go-west img, .go-east img {
  margin-top: 70px;
}

#content {
  min-height: 200px;
  margin-left: 100px;
  margin-right: 100px;
}
