* {
  font-family: 'Droid Sans Mono', arial, serif;
}

body {
  background-color: #000;
  color: #fff;
}

#splash-screen .center {
  text-align: center;
}

#splash-screen img {
  margin-top: 1em;
  border: 2px solid #fff;
}

a {
  color: #ccc;
}

.error {
  color: #f00;
}

.success {
  color: #0f0;
}

.notice {
  color: #ff0;
}
