.scores {
  font-size: 1.3em;
  margin-bottom: 2em;
}

.your-score {
  color: #00f;
}

.best-possible-score {
  color: #0ff;
}

table.top-scores {
  border-collapse: collapse;
}

table.top-scores td {
  padding: 5px;
  border-bottom: 1px solid #aaa;
}

table.top-scores td.name {
  color: #0f0;
}
