%h1 About this version

.description
  %p The game was originally written by Anita Straker for the BBC Micro. I played it at school and loved it!

  %p I have rewritten it as a web application for nostalgia and to make the game accessible to a new generation. No copyright infringement is intended.

  %p
    You can contact me on twitter:
    %a{href: 'http://twitter.com/sermoa'}@sermoa

%p= link_to 'Main menu', choice_path
