%h1 Choice Page

%p You can:

%ul.choice
  %li= link_to('Start a new adventure', new_adventure_path)
  %li= link_to('See the notes', notes_path)
  %li= link_to('Learn about this version', about_path)
