%h1 Merlin's Castle

.description
  %p You go out for a walk on a warm, sunny day. You become tired and you fall asleep on a grassy bank. When you wake up you are in a magic land where there are treasures to be found.

  %p To move around, use the direction links. But the task of exploring is not easy. There are many hazards on the way!

  %p As you explore you will find objects which you will need to use to help you. If you carry the objects back to the grassy bank and drop them there then your score will increase. You can take an object if you find one, use it if you are in danger, then drop it on the grassy bank.

  %p However, you can only carry with you a maximum of 5 objects at any one time.

  %p This game was originally written by Anita Straker for the BBC Micro. It is presented here for nostalgia and to make the game more widely accessible. No copyright infringement is intended.

%p= link_to 'Main menu', choice_path
