!!!
%html
  %head
    %title Merlin's Castle
    = stylesheet_link_tag 'merlin'
    %meta{:'http-equiv' => 'refresh', content: "5;url=#{choice_path}"}

    = render partial: 'shared/google_analytics'

  %body#splash-screen
    = yield
